aside div.radioOptions {
  color: #acacac;
  font-weight: bold;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

aside div.radioOptions div {
  display: flex;
  align-items: center;
}
